@font-face {
    font-family: 'Yu Mincho';
    src: url(./font/yumin.woff);
}

body::after{
	/* 소스만 다운받고 화면은 나태내지 않는다. (숨김 처리) */
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1;
    
    /* load images */
    content:url(./img/top.png) url(./img.n/top_N.png); /* 필요한 이미지 소스들 다운 */
}


body {
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 0px;
    align-items: center;
    justify-content: center;

}

.screen_left {
    position: relative;
    filter: grayscale(100%);
}

.screen_left:hover {filter: grayscale(0%
    );}

.screen_right {
    filter: grayscale(100%);

}

.screen_right:hover {filter: grayscale(0%
    );}

.img {
    width: 100%;
    height: 100%;
}

.textbox_day {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.textbox_day h1 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 0%;
    padding-top: 90px;
    color: #FFFFFF;
}

.textbox_day h2 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: -200px;
    padding-top: 24px;
    color: #FFFFFF;
}


.textbox_nig {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

.textbox_nig h1 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 0%;
    padding-top: 755px;
    color: #FFFFFF;
}

.textbox_nig h2 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: -200px;
    padding-top: 24px;
    color: #FFFFFF;
}


   