* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    position: relative;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
}

.header_img_night {
    width: 1920px;
    height: 1262px;
}


.backcolor {
    background-color: #665f61;
}

.sec1 {
    padding-top: 175px;
}

.text1 {
    text-align: center;
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */

    text-align: center;

    color: #ffffff;
}


.sec1_logo {
    width: 40px;
height: 43.5px;
}

.logo_box {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 97px;
}

.text2 {
    text-align: center;
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */

    text-align: center;
    padding-top: 91px;
}

/* .text2 br{
    padding-top: 20px;
} */

.daypic_box {
    display: flex;
    justify-content: center;
}

.daypic {
    width: 818px;
    height: 818px;
}

.sec2 {
    padding-top: 195px;
    padding-bottom: 195px;
}

.text3 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 320%;
    /* or 32px */

    text-align: center;

    color: #ffffff;
    padding-top: 195px;
}

.map {
    display: flex;
    justify-content: center;
}

.nightmap {
    width: 1097px;
    height: 855px;
}

.place {}

.barcham {
    position: absolute;
}

.barchamcolor {
    display: none;
    position: absolute;
}

.barcham:hover+.barchamcolor {
    display: block;
}

.posit1 {
    width: 110px;
    height: 190px;
    left: 690px;
    bottom: 450px;
    position: absolute;
}

.circle1 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 935px;
    bottom: 330px;
}

.woo {
    position: absolute;
}

.woocolor {
    display: none;
    position: absolute;
}

.woo:hover+.woocolor {
    display: block;
}

.posit2 {
    position: absolute;
    width: 212.4px;
    height: 173.25px;
    left: 570px;
    bottom: 240px;
}

.circle2 {
    width: 18px;
    height: 18px;
    left: 900px;
    bottom: 300px;
    position: absolute;
}

.tree {
    position: absolute;
}

.treecolor {
    display: none;
    position: absolute;
}

.tree:hover+.treecolor {
    display: block;
}

.posit3 {
    position: absolute;
    width: 188px;
    height: 134.75px;
    left: 830px;
    bottom: 520px;
}

.circle3 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 960px;
    bottom: 320px;
}

.back {
    position: absolute;
}

.backcolor {
    display: none;
    position: absolute;
}

.back:hover+.backcolor {
    display: block;
}

.posit4 {
    position: absolute;
    width: 197px;
    height: 197px;
    left: 1140px;
    bottom: 600px;
    transform: rotate(13.56deg);

}

.circle4 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 980px;
    bottom: 325px;
}

.on {
    position: absolute;
}

.oncolor {
    display: none;
    position: absolute;
}

.on:hover+.oncolor {
    display: block;
}

.posit5 {
    position: absolute;
    width: 224.1px;
    height: 172.8px;
    left: 889px;
    bottom: 700px;
}

.circle5 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 960px;
    bottom: 450px;
}

.park {
    position: absolute;
}

.parkcolor {
    display: none;
    position: absolute;
}

.park:hover+.parkcolor {
    display: block;
}

.posit6 {
    position: absolute;
    width: 210.375px;
    height: 117.75px;
    left: 1040px;
    bottom: 450px;
}

.circle6 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1080px;
    bottom: 290px;
}

.whitebear {
    position: absolute;
}

.whitebearcolor {
    display: none;
    position: absolute;
}

.whitebear:hover+.whitebearcolor {
    display: block;
}

.posit7 {
    position: absolute;
    width: 123.5px;
    height: 229px;
    left: 1150px;
    bottom: 190px;
}

.circle7 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1095px;
    bottom: 275px;
}

.jac {
    position: absolute;
}

.jaccolor {
    display: none;
    position: absolute;
}

.jac:hover+.jaccolor {
    display: block;
}

.posit8 {
    position: absolute;
    width: 163px;
    height: 230px;
    left: 1320px;
    bottom: 100px;
}

.circle8 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1089px;
    bottom: 248px;
}

.jangsang {
    position: absolute;
}

.jangsangcolor {
    display: none;
    position: absolute;
}

.jangsang:hover+.jangsangcolor {
    display: block;
}

.posit9 {
    position: absolute;
    width: 181.2px;
    height: 227.4px;
    left: 920px;
    bottom: 35px;
}

.circle9 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1067px;
    bottom: 255px;
}

.joseon {
    position: absolute;
}

.joseoncolor {
    display: none;
    position: absolute;
}

.joseon:hover+.joseoncolor {
    display: block;
}

.posit10 {
    position: absolute;
    width: 199px;
    height: 185px;
    left: 620px;
    bottom: 0px;
}

.circle10 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 870px;
    bottom: 145px;
}



.sec3 {
    padding-top: 208px;
    padding-bottom: 235px;
}

.text4 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */

    text-align: center;
}

.sec3_logo {
    width: 38px;
height: 43px;
}

.img_slide {
    padding-top: 106px;
    display: flex;
    justify-content: center;
    ;
}

.cardimg {
    width: 328.84px;
    height: 328.84px;
    opacity: 0.5;
}

.cardimg:hover {
    opacity: 1.0;
}


.img_slide>li:not(:last-child) {
    margin-right: 19.15px;
}

.text5 {
    position: absolute;
    display: flex;
    justify-content: right;
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;    
    text-align: right;
    color: #ffffff;
    right: 282px;
    padding-top: 25px;
}
