@font-face {
    font-family: 'Yu Mincho';
    src: url(./font/yumin.woff);
}

body::after{
	/* 소스만 다운받고 화면은 나태내지 않는다. (숨김 처리) */
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1;
    
    /* load images */
    content:url(./img/top.png) url(./img.n/top_N.png); /* 필요한 이미지 소스들 다운 */
}


body {
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: fixed;

}

.screen_left {
    position: relative;
    filter: grayscale(100%);
}

.screen_left:hover {filter: grayscale(0%
    );}

.screen_right {
    filter: grayscale(100%);

}

.screen_right:hover {filter: grayscale(0%
    );}

.img {
    width: 100%;
    height: 100%;
}


.titlebox_day {position: absolute;
top: 100px;
right: 0;
font-family: 'Yu Mincho';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 100%;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #970A20;}


.subtitle {font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    writing-mode: vertical-lr;
}

.titlebox_nig {
    position: absolute;
    top: 100px;
    left: 0;
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    
    color: #F8CA85;}


.textbox_day {
    position: absolute;
    text-align: left;
    left: 0;
    writing-mode: vertical-rl;
    padding-top: 60px;
    padding-left: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.t1{
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 150%;
    color: #FFFFFF;
}

.t2 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 15px;
    letter-spacing: 8px;

}

.t3 {font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 150%;
    color: #FFFFFF;}

.t4 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 15px;
    letter-spacing: 8px;
}



.textbox_nig {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: left;
    writing-mode: vertical-rl;
    padding-top: 60px;
    padding-right: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



   