* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    position: relative;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


body {background-color: #A4BFD5;
}

.slide-in {background-color: #3F393B;}

header {
    position: relative;
    display: flex;
    justify-content: center;
}

.header_img_night {
    width: 100%;
   
}


.backcolor {
    background-color: #665f61;
}

.sec1 {
    padding-top: 175px;
}

.text1 {
    text-align: center;
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */

    text-align: center;

    color: #ffffff;
}


.sec1_logo {
    width: 40px;
height: 43.5px;
}

.logo_box {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 97px;
}

.text2 {
    text-align: center;
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */

    text-align: center;
    padding-top: 91px;
}

/* .text2 br{
    padding-top: 20px;
} */

.daypic_box {
    display: flex;
    justify-content: center;
}

.daypic {
    width: 818px;
    height: 818px;
}

.sec2 {
    padding-top: 195px;
    padding-bottom: 195px;
}

.text3 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 320%;
    /* or 32px */

    text-align: center;

    color: #ffffff;
    padding-top: 195px;
}

/* map에 justify-content: center; 부여, 나머지 건드린 거 없고 posit과 circle 위치를 left/bottom에서 right/top으로 바꿈 */

.map {
    display: flex;
    justify-content: center;
}


.nightmap {
    width: 932px;
    height: 726px;
}



.barcham {
    position: relative;
    filter: grayscale(100%);
}

.barchamcolor {
    display: none;
    position: absolute;
}

.barcham:hover+.barchamcolor {
    display: block;
}

.posit1 {
    width: 110px;
    height: 190px;
    right: 600px;
    top: 135px;
    position: absolute;
}

.circle1 {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 461px;
    top: 415px;
}

.woo {
    position: absolute;
    filter: grayscale(100%);
}

.woocolor {
    display: none;
    position: absolute;
}

.woo:hover+.woocolor {
    display: block;
}

.posit2 {
    position: absolute;
    width: 212.4px;
    height: 173.25px;
    right: 630px;
    top: 345px;
}

.circle2 {
    width: 18px;
    height: 18px;
    right: 485px;
    top: 455px;
    position: absolute;
}

.tree {
    position: absolute;
    filter: grayscale(100%);
}

.treecolor {
    display: none;
    position: absolute;
}

.tree:hover+.treecolor {
    display: block;
}

.posit3 {
    position: absolute;
    width: 188px;
    height: 134.75px;
    right: 371px;
    top: 175px;

}

.circle3 {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 439px;
    top: 425px;
}

.back {
    position: absolute;
    filter: grayscale(100%);
}

.backcolor {
    display: none;
    position: absolute;
}

.back:hover+.backcolor {
    display: block;
}

.posit4 {
    position: absolute;
    width: 197px;
    height: 197px;
    right: 80px;
    top: 120px;
    transform: rotate(13.56deg);

}

.circle4 {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 421px;
    top: 420px;
}

.on {
    position: absolute;
    filter: grayscale(100%);
}

.oncolor {
    display: none;
    position: absolute;
}

.on:hover+.oncolor {
    display: block;
}

.posit5 {
    position: absolute;
    width: 224.1px;
    height: 172.8px;
    right: 231px;
}

.circle5 {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 440px;
    top: 315px;
}

.park {
    position: absolute;
    filter: grayscale(100%);
}

.parkcolor {
    display: none;
    position: absolute;
}

.park:hover+.parkcolor {
    display: block;
}

.posit6 {
    position: absolute;
    width: 210.375px;
    height: 117.75px;
    top: 350px;
    right: 171px;
}

.circle6 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 460px;
    right: 329px;

}

.whitebear {
    position: absolute;
    filter: grayscale(100%);
}

.whitebearcolor {
    display: none;
    position: absolute;
}

.whitebear:hover+.whitebearcolor {
    display: block;
}

.posit7 {
    position: absolute;
    width: 123.5px;
    height: 229px;
    right: 1px;
    top: 330px;
}

.circle7 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 480px;
    right: 310px;
}

.jac {
    position: absolute;
    filter: grayscale(100%);
}

.jaccolor {
    display: none;
    position: absolute;
}

.jac:hover+.jaccolor {
    display: block;
}

.posit8 {
    position: absolute;
    width: 163px;
    height: 230px;
    top: 520px;
    right: 120px;
}

.circle8 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 505px;
    right: 320px;
}

.jangsang {
    position: absolute;
    filter: grayscale(100%);
}

.jangsangcolor {
    display: none;
    position: absolute;
}

.jangsang:hover+.jangsangcolor {
    display: block;
}

.posit9 {
    position: absolute;
    width: 181.2px;
    height: 227.4px;
    top: 550px;
    right: 355px
}

.circle9 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 500px;
    right: 350px;
}

.joseon {
    position: absolute;
    filter: grayscale(100%);
}

.joseoncolor {
    display: none;
    position: absolute;
}

.joseon:hover+.joseoncolor {
    display: block;
}

.posit10 {
    position: absolute;
    width: 199px;
    height: 185px;
    top: 555px;
    right: 580px;
}

.circle10 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 580px;
    right: 551px;
}

.sec3 {
    padding-top: 208px;
    padding-bottom: 235px;
}

.text4 {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */

    text-align: center;
}

.sec3_logo {
    width: 38px;
height: 43px;
}

.img_slide {
    padding-top: 106px;
    display: flex;
    justify-content: center;
    ;
}

.cardimg {
    width: 328.84px;
    height: 328.84px;
    opacity: 0.5;
}

.cardimg:hover {
    opacity: 1.0;
}


.img_slide>li:not(:last-child) {
    margin-right: 19.15px;
}

.text5 {
    position: absolute;
    display: flex;
    justify-content: right;
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;    
    text-align: right;
    color: #ffffff;
    right: 15%;
    padding-top: 25px;
}


.logo_box2 {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 97px;
    padding-bottom: 91px;
}

.slidebox {position: relative;
}

.swiper-container {
    padding-left: 50px;
    padding-right: 50px;
}

.swiper-button-next {position: absolute;
right: 10%;}
.swiper-button-prev {position: absolute;
left: 10%;}