@font-face {
    font-family: 'Yu Mincho' ;
    src: url(./font/yumin.woff);
}



a#topBtn { 
	position: fixed; /* 포지션 고정 */ 
	right: 2%; /* 오른쪽에서 2% - %도 할수 있음*/ 
	bottom: 15px; /* 밑에서 5px */ 
	display: none; /* 보여지지 없음 - 기본적으로 안보여지게 */ 
	z-index: 9999; /* 포지션을 먼저 지정후 z-좌표(레이어) : 9999입니다. */ 
    opacity: 0.5;

}



.header {position: relative;
}

.navbar {
    position: absolute;
    padding-top: 50px;
    left: 0;
 display:flex;
 
    
}

.sunimg {
    width: 48px;
    height: 48px;
    padding-left: 50px;}

.navbar_menu {
    display: flex;
    padding-left: 38px;
}

.navbar_menu a{font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    text-align: right;
    text-transform: capitalize;
    
    color: #FFFFFF;}



.navbar_menu::before {
    content:"";
    height: 2px;
    width: 0%;
    background-color: #FFFFFF;
    border-radius: 0px;
    transition: 0.3s;
    position:absolute;
    bottom: 5px;
    padding-left: 0;
    left: 30%;
}

.navbar_menu:hover::before { width: 130px }

.navbar_submenu {
    position: absolute;
    display: none;
    list-style: none;
    z-index: 5;
    top: 50px;
    border-radius: 10px;
    padding-left: 0;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.3)
    ;
    width: 287px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

}

.navbar_submenu a {
    font-family: 'Yu Mincho';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #ffffff;
    padding: 7px 0px;
    text-align: center;
    display: block;
}

.navbar_menu:hover .navbar_submenu {
    z-index: 5;
    display:block;
}

.navbar_submenu a:hover {
    background-color: rgba(149, 142, 144, 1);
    border-radius: 5px;

}



footer {
    min-width: 1100px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 0px;
    height: 431.61px;
    width: 100%;
    background-color: #4B4A57;
}



.footer_logo {
    width: 245px;
    height: 72px;
    padding-top: 26px;
    padding-left: 10%;
}

.footer_img {
    width: 138px;
height: 332.58px;
}


.footer_members {
    position: absolute;
    display: flex;
    padding-top: 65px;
    right: 157px;
}

.footer_job {
    padding-right: 24px;
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 21px;
    text-align: right;
    text-transform: uppercase;
}

.footer_members ul li {
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding-right: 90px;
}

.footer_bottom {
    position: absolute;
    right: 247px;
    display: inline-block;
    text-align: right;
    align-content: flex-end;
    padding-top: 281.41px;
}


.contatc {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 42px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_email a {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #ffffff;
}

.footer_unv {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 42px;
    color: #FFFFFF;
    opacity: 0.6;
}


.copyright_text {
    top: 405.61px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.3;
}

.swiper-button-next {color: rgba(255, 255, 255, 0.6);}
.swiper-button-next:hover {color: rgba(255, 255, 255, 1);}

.swiper-button-prev {color: rgba(255, 255, 255, 0.6);}
.swiper-button-prev:hover {color: rgba(255, 255, 255, 1);}

.swiper-slide {background-color: #3F393B !important;}


